{% extends 'base.html.twig' %}


{% block body %}

	<div class="container mt-4">

		<h1>Editer le préférence</h1>

		{{ include ("admin/preference/_form.html.twig", {button:'Editer'}) }}

	</div>


{% endblock %}
